ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: black;
}

li {
	display: inline;
	text-align: center;
	padding: 14px 16px;
	color: white;
	font-size: 24px;
	border-right: 1px solid #bbb;
}

p {
	font-family:"Arial", Sans-serif;
	font-style: normal;
 	font-size: 18px;
 }

body {
	color: white;
	background-color: black;
}
h1{

	border-style: double;

}
h2{
	
	border-style: dotted;
	
}

input[type=text] {
    width: 130px;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
}

{/* When the input field gets focus, change its width to 100% */
input[type=text]:focus {
    width: 100%;
}	
	
{/* The navigation bar */
.navbar {
    overflow: hidden;
    background-color: #333;
    position: fixed; /* Set the navbar to fixed position */
    top: 0; /* Position the navbar at the top of the page */
    width: 100%; /* Full width */
}
