ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: black;
}

li {
	display: inline;
	text-align: center;
	padding: 14px 16px;
	color: white;
	font-size: 24px;
	border-right: 1px solid #bbb;
}

p {
	font-family:"Arial", Sans-serif;
	font-style: normal;
 	font-size: 18px;
 }

body {
	color: white;
	background-color: black;
}
h1{

	border-style: double;

}
h2{
	
	border-style: dotted;
	
}

	
	
